h1 {
  text-align: center;
  color: black;
}

body {
  background: linear-gradient(135deg, #FCAF45, #F77737, #FD5949, #D6249F, #285AEB, #4A569D, #56C5AB);
}

form {
  text-align: center;
}

.container {
  width: 500px;
  height: 500px; /* ou toute autre hauteur désirée */
  padding: 10px;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; 
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img, .container canvas {
  width: 100%; /* Pour que l'image prenne toute la largeur du conteneur */
  height: 100%; /* Pour que l'image prenne toute la hauteur du conteneur */
  object-fit: cover; /* Pour que l'image couvre toute la zone disponible */
  object-position: center; /* Pour centrer l'image dans le conteneur */
}

.text-draggable {
  position: absolute;
  cursor: move;
  color: white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#content {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}


