<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEME_IT</title>
    <link href="/static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
   <body>
     <h1> MEMEIT</h1>
     <div class="container">
       <img src="{{ image_url }}" alt="image">
       <div id="draggable" class="draggable">
        <div id="content">{{texte_saisi}}</div>
       </div>
     </div>
    
     <script>
         function makeDraggable(element) {
             let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
             element.onmousedown = dragMouseDown;

             function dragMouseDown(e) {
                 e = e || window.event;
                 e.preventDefault();
                 pos3 = e.clientX;
                 pos4 = e.clientY;
                 document.onmouseup = closeDragElement;
                 document.onmousemove = elementDrag;
             }

             function elementDrag(e) {
                 e = e || window.event;
                 e.preventDefault();
                 pos1 = pos3 - e.clientX;
                 pos2 = pos4 - e.clientY;
                 pos3 = e.clientX;
                 pos4 = e.clientY;
                 element.style.top = (element.offsetTop - pos2) + "px";
                 element.style.left = (element.offsetLeft - pos1) + "px";
             }

             function closeDragElement() {
                 document.onmouseup = null;
                 document.onmousemove = null;
             }
         }

         // Appel de la fonction pour rendre draggable l'élément avec l'ID "draggable"
         makeDraggable(document.getElementById('draggable'));
     </script>

   </body>
<br></br>
<br></br>
<form method="POST" action="/sauvegarder">
<input type="submit" value="Sauvegarder">
</form>
  
</html>
