<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEME_IT</title>
    <link href="/static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <h1> MEMEIT</h1>
    <div class="container">
        <canvas id="meme-canvas"></canvas>
    </div>
    <button class="btn" id="save-button">Enregistrer</button>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            var imageUrl = "{{ image_url }}";
            var texteSaisi = "{{ texte_saisi }}";

            var canvas = document.getElementById('meme-canvas');
            var ctx = canvas.getContext('2d');

            var img = new Image();
            img.crossOrigin = "Anonymous";
            img.src = imageUrl;

            img.onload = function() {
                canvas.width = img.width;
                canvas.height = img.height;

                // Draw image
                ctx.drawImage(img, 0, 0);

                // Add text
                ctx.font = "30px Roboto";
                ctx.fillStyle = "white";
                ctx.textAlign = "center";
                ctx.fillText(texteSaisi, canvas.width / 2, canvas.height - 50);
            };

            $("#save-button").on("click", function() {
                var link = document.createElement('a');
                link.href = canvas.toDataURL("image/png");
                link.download = 'meme.png';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            });
        });
    </script>
</body>
</html>
