<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMEIT</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <h1>MEMEIT</h1>
    <div class="container">
        <img src="{{ image_url }}" alt="image">
    </div>
    <h1>Entrez vos descriptions :</h1>
    <form action="{{ url_for('texte') }}" method="POST" id="textForm">
        <label for="texte_saisi1">Texte 1 :</label><br>
        <textarea name="texte_saisi1" rows="2" cols="50" id="texte_saisi1"></textarea><br><br>
        <label for="texte_saisi2">Texte 2 :</label><br>
        <textarea name="texte_saisi2" rows="2" cols="50" id="texte_saisi2"></textarea><br><br>
        <input type="submit" value="Next">
    </form>

    <!-- JavaScript to handle Enter key press -->
    <script>
        document.getElementById('textForm').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
            }
        });
    </script>
</body>
</html>
