<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEME_IT</title>
    <link href="/static/style.css" rel="stylesheet">
  </head>
   <body>
     <h1> MEMEIT</h1>
     <div class="container">
       <img src="{{ image_url }}" alt="image">
     </div>

   </body>
<body>
    <h1>Entrez votre description  :</h1>
    <form action="{{ url_for('texte') }}" method="POST">
        <textarea name="texte_saisi" rows="2" cols="50"></textarea><br>
        <input type="submit" value="Next">
    </form>
</body>
</html>
